{% extends 'base.html.twig' %}

{% block body %}
    <section>
    {% include('admin/leftpanel.html.twig') %}
    <div class="mainpanel">
        <div class="contentpanel">
            <div class="row">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Date de création</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for article in articles %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.title }}</td>
                                <td>
                                    {% if article.status == 0%}
                                        <div class="dropdown" style="display:inline">
                                            <span data-toggle="dropdown" class="label label-warning"><span class="labeltext{{ article.id }}">Brouillon</span> <span class="caret"></span></span>
                                            <ul class="dropdown-menu">
                                                <li><a class="link" href="{{ path('app_admin_article_publish', { 'id': article.id}) }}">Publier</a></li>
                                            </ul>
                                        </div>
                                    {% else %}
                                        <div class="dropdown" style="display:inline">
                                            <span data-toggle="dropdown" class="label label-success"><span class="labeltext{{ article.id }}">Publié</span> <span class="caret"></span></span>
                                            <ul class="dropdown-menu">
                                                <li><a class="link" href="{{ path('app_admin_article_draft', { 'id': article.id}) }}">Mettre en Brouillon</a></li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>{{ article.createdAt|date('d/m/y') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>
{% endblock %}